
NSBM Hostel Management/.vs/NSBM Hostel Management/FileContentIndex/3a702491-5696-4a0a-b363-9c29e3b986c5.vsidx
NSBM Hostel Management/.vs/NSBM Hostel Management/FileContentIndex/6f37526c-bc92-471d-a4df-c0402dc0cf98.vsidx
NSBM Hostel Management/.vs/NSBM Hostel Management/FileContentIndex/bf6b9be4-aad9-48d3-9dd9-053d2993db81.vsidx
NSBM Hostel Management/NSBM Hostel Management/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
